.portfolioContainer{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 2.5rem;
}

.portfolioItem{
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transtion);
}

.portfolioHead{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.portfolioItem p {
    color: gray;
    font-size: small;
}


.portfolioItem:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolioItemImage{
    border-radius: 1.5rem;
    overflow: hidden;
}

.portfolioItem h3 {
    margin: 1.2rem 0 0 ;
}

.portfolioItemCTA{
    display: flex;
    gap: 1.5rem;
}

@media screen and (max-width: 1024px) {
    .portfolioContainer{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }    
}
 
 @media screen and (max-width: 600px) {
    .portfolioContainer{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
 }