section{
    padding-top: 6rem;
}
.aboutContainer{
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}

.aboutMe{
    width: 100%;
    display: grid;
    aspect-ratio: 1/1;
    border-radius: 40%;
    background: linear-gradient(
       90deg,
       transparent,
       rgb(32, 25, 222),
       transparent 
    );
    display: grid;
    place-items: center; 
}

.aboutMe-image{
    border-radius:50% ;
    overflow: hidden;
    transform: rotate(45deg);
    transition: var(--transtion);
}

.aboutMe-image:hover{
    transition: var(--transtion);
    transform: rotate(0deg);
}

.aboutCards{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 1.5rem;
}

.aboutCard{
    background-color: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    text-align: center;
    padding: 2rem;
    transition: var(--transtion);
}

.aboutCard:hover{
    transition: var(--transtion);
    background: transparent;
    cursor: default;
    border-color: var(--color-bg-variant);
}

.aboutIcon{
    color: var(--color-primary);
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.aboutCard h5{
    font-size: 0.95rem;
}

.aboutCard small{
    font-size: 0.7rem;
    color: var(--color-light);
}

.aboutContent p {
    margin: 2rem 0 2.6rem;
}

@media screen and (max-width: 1024px) {
   .aboutContainer{
    grid-template-columns: 1fr;
    gap: 0;
   }
   .aboutMe{
    width: 50%;
    margin: 2rem auto 4rem;
   }
   .aboutContent{
    margin: 1rem 0 1.5rem;
   }
}

@media screen and (max-width: 600px) {
   .aboutMe{
    width: 65%;
    margin: 0 auto 3rem;
   }
   .aboutMe-image{
    transform: rotate(0);
   }
   .aboutCards{
    grid-template-columns: 1fr 1fr;
   }
   .aboutContent{
    text-align: center;
   }
   .aboutContent p {
    margin: 1.5rem 0;
   }
}