footer {
    background-color: var(--color-primary);
    width: 100%;
    height: 28vh;
    position: relative;
    overflow: hidden;
}
footer .wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background:url(../../assets/wave.png) ;
    background-size: 1000px 100px;
}

footer .wave.wave1{
    animation: animate 30s linear  infinite ;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

footer .wave.wave2{
    animation: animate2 15s linear  infinite ;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}

footer .wave.wave3{
    animation: animate 30s linear  infinite ;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
}

footer .wave.wave4{
    animation: animate2 5s linear  infinite ;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}

@keyframes animate{
    0%
    {
        background-position-x: 0;
        z-index: 1000;
        opacity: 1;
        animation-delay: 0s ;
    }
    100%
    {
        background-position-x:1000px ;
    } 
}

@keyframes animate2{
    0%
    {
        background-position-x: 0;
        z-index: 1000;
        opacity: 1;
        animation-delay: 0s ;
    }
    100%
    {
        background-position-x:-1000px ;
    } 
}